.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

table {
    border-collapse: collapse;
}

table tr td,
table tr th {
    padding: 10px 19px;
    border: 1px solid #000;
}

table tr th {
    background-color: green;
    color: #fff;
}

a {
    text-decoration: none;
    color: green;
    font-weight: 600;
    text-align: center;
}