.alert {
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
}

.alert-success {
    background-color: #D4EDDA;
    color: #155724;
}

.alert-danger {
    background-color: #F8D7DA;
    color: #721C24;
}

.employer-banner {
    width: 100%;
    height: 44vh;
    /* background-color: gray; */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url('/images/employer-banner.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2rem;
}

.employee-appication-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36vh;
    background-color: gray;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url('/images/employer-banner.jpg');
    color: #fff;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.search-area {
    width: 100%;
    align-self: center;
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/search-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-area h1 {
    color: #fff;
}

.search-form {
    display: flex;
    width: 50%;
    border: 1px solid transparent;
    border-radius: 5px;
    overflow: hidden;
}

.search-area input {
    padding: 8px 12px;
}

.search-area input[type=text] {
    font-size: 1.1rem;
    flex-grow: 1;
    border: none;
    outline: none;
}

.search-area input[type=submit] {
    width: 120px;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .2s;
    background-color: #00ABEB;
    color: #fff;
    border: none;
}

.search-area input[type=submit]:hover {
    background-color: #069acf;
}

.jobs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
    margin-bottom: 10px;
}

.job-card {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    flex-direction: column;
    padding: 15px 12px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    gap: 10px;
    text-align: center;
    width: 300px;
    transition: .2s;
}

.job-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.job-card .employer-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.employer-profile img {
    width: 50px;
}

.job-post-date {
    font-size: 13px;
    color: #144;
}

a {
    text-decoration: none;
}

.location,
.apply-btn,
.app-count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.apply-btn,
.remove-apply-btn {
    padding: 3px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #72BF78;
    color: #fff;
    transition: .2s;
    gap: 10px;
}

.remove-apply-btn {
    display: flex;
    align-items: center;
    background-color: red;
}



.apply-btn:hover {
    background-color: var(--green);
}


.location img,
.app-count img {
    width: 21px;
}

.edit-job {
    padding: 5px 23px;
    background-color: #155724;
    color: #fff;
    border-radius: 4px;
}

.remove-job {
    padding: 5px 12px;
    background-color: red;
    color: #fff;
    border-radius: 4px;
}

.view-applications {
    padding: 5px 10px;
    background-color: #144;
    color: #fff;
    border-radius: 5px;
}